*.py
*.ps1
# *.json  (removed - JSON data files needed)
!quiz-images/images.json
!locations-cache.json
app.*.js
app.js
exif.min.js
test.html
test2.html
index-pro.html
index.html
quiz-new.html
quiz.html
